.knowledges {
    display: flex;
    min-height: 100vh;
    // position: relative;
    // overflow: hidden;

    .knowledgesContent {
        // max-width: 1200px;
        margin: 0 auto;
        // padding: 2rem;

    }
}