
/*      IMPORT DE POLICES         */
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Roboto:wght@400;700&display=swap');


/* ============================= */
/*     VARIABLES DE STYLE        */
/* ============================= */

/* Couleurs */
$principal_color: #0f172a;         // Bleu nuit profond — sérieux, concentration, stabilité
$second_color: #38bdf8;           // Bleu clair — modernité, technologie, dynamisme
$text_color: #e2e8f0;             // Gris très clair — lisibilité, confort visuel
$principal_font_color: #f8fafc;   // Presque blanc — clarté, neutralité
$second_text_color: #94a3b8;      // Gris bleuté — subtilité, hiérarchie visuelle
$accent_color: #007BFF;
$notfound_color:rgba(224, 13, 13, 0.664);
/* Polices */
$font-primary: 'Roboto', sans-serif;       // Texte général
$font-secondary: 'Nova Round', cursive;   // Titres / nom
$font-size-base: 16px;                     // Taille par défaut
$font-size-small: 0.9rem;                  // Texte secondaire
$font-size-large: 1.5rem;                  // Titres
$font-weight-normal: 400;
$font-weight-bold: 700;

/* Espacements */
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 40px;

/* ============================= */
/*       STYLES GLOBAUX          */
/* ============================= */

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  background-color: $principal_font_color;
  color: $principal_color;
  line-height: 1.6;
  
}


/* ============================= */
/*   LAYOUT GLOBAL EN FLEX        */
/* ============================= */

/* Liens globaux */
a {
  text-decoration: none;
  color: $second_color;

  &:hover {
    color: $principal_color;
  }
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  margin: 0;
  color: $principal_color;
}

/* Paragraphes */
p {
  font-family: $font-primary;
  font-size: $font-size-base;
  color: $principal_color;
  margin-bottom: $spacing-md;
}
