
/*      IMPORT DE POLICES         */
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Roboto:wght@400;700&display=swap');

// détermination des différentes couleurs utilisées dans ce programme ou page
$principal_color: #0f172a;        
$second_color: #38bdf8;           
$text_color: #e2e8f0;             
$principal_font_color: #f8fafc;   
$second_text_color: #94a3b8;      
$accent_color: #007BFF;
$notfound_color:rgba(224, 13, 13, 0.664);
$success_color:#28a745;
$primary-color: #3f72af; 
$secondary-color: #dbe2ef;
$text-dark: #112a46;
$text-light: #ffffff;
$background-color: #f5f5f5; 



$primary-color: #1a73e8;
$secondary-color: #222;
$accent-color: #fbbc04;
$bg-color: #f5f6fa;
$border-radius: 12px;
$transition: all 0.3s ease-in-out;
/* Polices */
$font-primary: 'Roboto', sans-serif;       
$font-secondary: 'Nova Round', cursive;   
$font-size-base: 16px;                     
$font-size-small: 0.9rem;                 
$font-size-large: 1.5rem;       
$font-weight-normal: 400;
$font-weight-bold: 700;


/* Espacements */
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 40px;
$min-height:100vh; //hauteur de la page

// body{
//     background-color: $background-color;
// }