.hobbies {
    


    h2 {
        text-align: center;
    }



    .hobbyContent {
        
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 5px;
        flex-wrap: wrap;
        gap: 20px;



        .sport,
        .developpment,
        .culture {
            flex: 1;
            min-width: 280px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
            }
        }

    

        .hobby {
            list-style: none;
            // background-color: $second_color;
            margin: 10px 0;
            padding: 12px 15px;
            border-radius: 8px;
            font-size: 1.1em;
            color: #444;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease;
            margin-bottom: $spacing-md;

            &:hover{

                background-color: #ffe9d6;
            }

        }

        
        .hobby i {
            margin-right: 10px;
            font-size: 1.2em;
            color: $second_color;
            background-color: $principal_color;
            width: 100px;
            height: 40px;
            justify-content: center;
            text-align: center;
            border-radius: 50%;
        }


    }

}