
.languages{
    
    h2{
        text-align: center;
     
    }

    .content{
        display: flex;
     
        justify-content:space-between;
        .languagesSection, .frameworksSection{
            width: 50%;
            margin: 5px ;
            padding: auto;
            border-radius: 15px;
    
           &:hover{
            box-shadow: 0 10px 0 10px black;
           }
        }
    }
}